body {
    margin: 0;
    overflow: hidden;
}

canvas {
    position: absolute;
    display: block;
    z-index: -1;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5;
    flex-direction: column;
}
