body {
    overflow: hidden;
}

.particle {
    position: absolute;
    width: 6px;
    height: 6px;
    background: rgba(0, 255, 0, 0.8);
    border-radius: 50%;
    /*animation: float 6s ease-in-out infinite;*/
    z-index: -1;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}