html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background-color: #242424;
    z-index: -2;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    padding-top: 10px;
}

.radio-chip-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5;
    border-radius: 64px;
    background-color: #161616;
    width: fit-content;
}

.radio-chip {
    padding: 8px;
    border-radius: 64px;
    color: white;
    border-width: 0;
    background-color: #00000000;
    font-size: 12;
}

.selected-chip {
    background-color: #004141;
}

.map {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.submit-button {
    position: absolute;
    right: 36px;
    bottom: 36px;
    background-color: #004141;
    border-radius: 64px;
    padding: 12px;
    z-index: 1000;
    pointer-events: all;
    border-width: 0;
}

.timer {
    position: absolute;
    top: 16px;
    left: 50%;
    background-color: white;
    border-radius: 64px;
    padding: 4px 24px;
    text-align: center;
    z-index: 1000;
    pointer-events: all;
    translate: -50%;
    font-size: large;
}

.timer > * {
    margin: 0;
}

/*.background {
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.bulb {
    position: fixed;
    z-index: -1;
    height: 100px;
    width: 100px;
    border-radius: 100;
    background-color: aqua;
    pointer-events: none;
    filter: blur(75px);
}*/
