html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background-color: #242424;
    z-index: -2;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5;
    flex-direction: column;
}

.map {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.submit-button {
    position: absolute;
    right: 36px;
    bottom: 36px;
    background-color: rgb(0, 65, 65);
    border-radius: 64px;
    padding: 12px;
    z-index: 1000;
    pointer-events: all;
    border-width: 0;
}

.timer {
    position: absolute;
    top: 16px;
    left: 50%;
    background-color: white;
    border-radius: 64px;
    padding: 4px 24px;
    text-align: center;
    z-index: 1000;
    pointer-events: all;
    translate: -50%;
    font-size: large;
}

.timer > * {
    margin: 0;
}

/*.background {
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.bulb {
    position: fixed;
    z-index: -1;
    height: 100px;
    width: 100px;
    border-radius: 100;
    background-color: aqua;
    pointer-events: none;
    filter: blur(75px);
}*/
